*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/navigation/
src/main/res/drawable/
.idea/markdown-exported-files.xml
app/src/androidTest/
app/src/test/
/gradle/wrapper/gradle-wrapper.properties
